<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Talladita.com | La tienda en linea de ropa y accesorios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">    
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/bulma-badge.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/bulma-ribbon.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <div id="app" name="app">


  <nav class="navbar is-talladita">
                <div class="navbar-brand">
                  <a class="navbar-item" href="./">
                    
                      <img src="assets/images/talladita-logo.png" alt="Store Challenge for Applaudo" width="112" height="28">
                    
                  </a>
                  <div class="navbar-burger burger" data-target="navMenuColordanger-example">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              
                <div class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item" href="https://bulma.io/">
                      Mujeres 
                    </a>
                    <a class="navbar-item" href="https://bulma.io/">
                        Accesorios
                    </a>                    
                    <a class="navbar-item" href="https://bulma.io/">
                        Chicas
                    </a>  
                    <a class="navbar-item" href="https://bulma.io/">
                        Curvy
                    </a>   
                    <a class="navbar-item" href="https://bulma.io/">
                        Sale
                    </a>                                                       
                    
                    </div>
                  </div>
              
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="field is-grouped">
                       
                        <p class="control">
                          <a class="button is-danger" href="login.html">
                            <span class="icon">
                                    <i class="fa fa-user"></i>
                            </span>
                            <span>Iniciar Sesión</span>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                
  </nav>
              
  <section class="hero is-info is-medium is-bold">
                    <div class="hero-body">
                            <div class="columns">
                                    <div class="column">
                                            <div class="has-text-centered">
                                                    <h1 class="title" style="font-size: 5rem;">30% Off este fin de semana en toda la tienda. </h1>
                                            </div>                                      
                                    </div>
                                    <div class="column">

                                        <div class="has-text-centered">
                                            <a href="tel:77372990" class="button is-primary is-outlined is-large">Llamanos 77372990</a>   
                                        </div>                                   
                                    </div>
                                    
                            </div>                        

                        

                    </div>
  </section>              


  <section class="section">
    <div class="container">

            <div class="content">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-large" type="search" v-model="search">
                        <span class="icon is-medium is-left">
                            <i class="fa fa-search"></i>
                        </span>                       
                    </div>
            </div>

        <div class="filters-box">
            <h1 class="title">
                        Ordenar por:
            </h1>
                        <div class="field is-grouped">
                            <p class="control">
                              <a id="Price" class="button is-primary is-outlined" v-on:click="sortBy = 'Price'">
                                Precio
                              </a>
                            </p>
                            <p class="control">
                              <a id="Likes" class="button is-link is-outlined"  v-on:click="sortBy = 'Likes'">
                                Likes
                              </a>
                            </p>
                            <p class="control">
                              <a id="Stock" class="button is-danger is-outlined"  v-on:click="sortBy = 'Stock'">
                                Stock
                              </a>
                            </p>
                            <p class="control">
                                <a id ="Category" class="button is-warning is-outlined" v-on:click="sortBy = 'Category'">
                                    Categoria
                                </a>
                            </p>            
                        </div>             
        </div>
      
      <hr>
      
        <div class="columns">
            <div class="column is-one-quarter" v-for="product in filteredItems">
        
                    <div class="card is-radius">
                      <div class="box has-ribbon">
                          <div class="ribbon is-warning">{{ product.Category }}</div>
                            
                                                 
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img v-bind:src="product.FeaturedImage" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">                                
                                <div class="media-content">
                                    <a href="#">
                                        <p class="title is-5">{{product.Name}}</p>
                                    </a>
                                         
                                  <div class="columns">
                                    <div class="column">
                                        <p class="item-price">$ {{product.Price}}</p>
                                    </div>
                                    <div class="column">
                                        <p class="is-small">{{ product.Stock }} Stock</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          
                              <div class="media-right">                                
                                <div class="columns">
                                  <div class="column">
                                      <button class="button is-rounded is-info badge" :data-badge="product.Likes"><i class="fas fa-thumbs-up"></i> </button>
                                  </div>
                                  <div class="column">
                                      <a class="button is-rounded is-danger">
                                          <span class="icon is-small">
                                            <i class="fas fa-shopping-cart"></i>                                      
                                          </span>
                                        </a> 
                                  </div>
                                </div>                                                                                                
                                
                              </div>
                            </div>
                          </div> 
                          </div>
                          </div>
                
            </div>
        </div>      
      
    </div>
  </section>

    </div>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
                © 2019 Talladita,LLC. Todos los derechos reservados
          </p>
        </div>
    </footer>
  

  <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  var baseUrl = 'http://talladita.azurewebsites.net/';
  var app = new Vue({
    el: '#app',
    data: {
      products: [],
      search:'',
      sortBy:'Name'   
  },
  created: function () {
    

    fetch(baseUrl+"api/products")
    .then((resp) => resp.json()) // Transform the data into json
    .then(function(data) {
      console.log(data);
       app.products = data
      })
    
    
  },
  computed: {
    filteredItems: function () {
      return this.products.filter((item) => {
        return (this.search.length === 0 || item.Name.toUpperCase().includes(this.search.toUpperCase())) 
      }).sort((a, b) => { 
        return a[this.sortBy].toString().localeCompare(b[this.sortBy].toString())
      })
    }
  }
})
</script>
  </body>
</html>
